<%= form_with(model: quiz, local: true) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <h3>Questions</h3>
  <%= f.fields_for :questions do |qf| %>
  <% question_index = qf.index + 1 %>
  <div style="margin-left: 20px; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
    <strong>Question <%= question_index %>:</strong>
    <%= qf.text_field :name %>

    <%= qf.fields_for :answers do |af| %>
      <div style="margin-left: 20px;">
        <%= af.label :content, "Answer" %>
        <%= af.text_field :content %>
      </div>
    <% end %>
  </div>
<% end %>

  <%= f.submit %>
<% end %>
