<div id="<%= dom_id quiz %>" class="list-group-item d-flex justify-content-between lh-sm">
  <div style="margin-left: 20px">
    <p>
      <strong>Title:</strong>
      <%= quiz.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= quiz.description %>
    </p>
  </div>
</div>

<div class="card-header py-3 bg-transparent border-primary">
  <h3 class="my-0 fw-normal">Questions & Answers</h3>
</div>

<% quiz.questions.each_with_index do |question, index| %>
  <div class="card-body">
    <strong>Question <%= index + 1 %>:</strong> <%= question.name %>
    <% if question.answers.any? %>
      <table class="table table-striped">
        <% question.answers.each do |answer| %>
          <tr>
            <td style="padding: 5px; width: 20%;">
              <%= answer.participant_initials || "guest" %>
            </td>
            <td style="padding: 5px; width: 30%;">
              <%= answer.participant_email || "guest" %>
            </td>
            <td style="padding: 5px;">
              <%= answer.content %>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p style="margin-left: 20px; color: gray;">No answers yet.</p>
    <% end %>
  </div>
<% end %>
