<p style="color: green"><%= notice %></p>

<h1>Quizz overview</h1>

<div>
  <%= render "quiz", quiz: @quiz %>

  <!-- Action buttons at bottom -->
  <div class="text-center">
    <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
    <%= link_to "Back to quizzes", quizzes_path %> |
    <%= button_to "Destroy this quiz", @quiz, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
  
</div>
